In [3]:
import yfinance as yf
import lxml

In [9]:
pip install yfinance

Requirement already satisfied: yfinance in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.1.54)
Requirement already satisfied: numpy>=1.15 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from yfinance) (1.19.1)
Requirement already satisfied: pandas>=0.24 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from yfinance) (1.1.2)
Requirement already satisfied: multitasking>=0.0.7 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from yfinance) (0.0.9)
Requirement already satisfied: requests>=2.20 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from yfinance) (2.24.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests>=2.20->yfinance) (1.25.10)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [23]:
pip install pandas

Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.1.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.19.1)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install lxml

Requirement already satisfied: lxml in /srv/conda/envs/notebook/lib/python3.7/site-packages (4.5.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
msft = yf.Ticker("MSFT")
print(msft)

yfinance.Ticker object <MSFT>

In [7]:
msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 163000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, and OneDrive; LinkedIn that includes Talent, Learning, Sales, and Marketing solutions, as well as premium subscriptions; and Dynamics 365, a set of cloud-based and on-premises business solutions for small and medium businesses, large organizations, and divisions of enterprises. Its Intelligent Cloud segment licenses SQL and Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification to developers and IT professionals on various Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other intelligent devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425-882-8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'industry': 'Softwareâ€”Infrastructure',
 'previousClose': 212.46,
 'regularMarketOpen': 208,
 'twoHundredDayAverage': 192.27771,
 'trailingAnnualDividendYield': 0.009601807,
 'payoutRatio': 0.3455,
 'volume24Hr': None,
 'regularMarketDayHigh': 210.99,
 'navPrice': None,
 'averageDailyVolume10Day': 30215487,
 'totalAssets': None,
 'regularMarketPreviousClose': 212.46,
 'fiftyDayAverage': 211.54,
 'trailingAnnualDividendRate': 2.04,
 'open': 208,
 'toCurrency': None,
 'averageVolume10days': 30215487,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 2.24,
 'exDividendDate': 1605657600,
 'beta': 0.893534,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 205.5439,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 35.796875,
 'regularMarketVolume': 31832192,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1560373755904,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 34844893,
 'priceToSalesTrailing12Months': 10.91056,
 'dayLow': 205.5439,
 'ask': 205.83,
 'ytdReturn': None,
 'askSize': 800,
 'volume': 31832192,
 'fiftyTwoWeekHigh': 232.86,
 'forwardPE': 28.053062,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.8,
 'fiftyTwoWeekLow': 132.52,
 'bid': 205.6,
 'tradeable': False,
 'dividendYield': 0.0105,
 'bidSize': 1200,
 'dayHigh': 210.99,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 10.749,
 'beta3Year': None,
 'profitMargins': 0.30962,
 'enterpriseToEbitda': 23.557,
 '52WeekChange': 0.50371945,
 'morningStarRiskRating': None,
 'forwardEps': 7.35,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7567649792,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 15.626,
 'sharesShort': 37794303,
 'sharesPercentSharesOut': 0.005,
 'fundFamily': None,
 'lastFiscalYearEnd': 1593475200,
 'heldPercentInstitutions': 0.74093,
 'netIncomeToCommon': 44280999936,
 'trailingEps': 5.76,
 'lastDividendValue': 0.51,
 'SandP52WeekChange': 0.14525354,
 'priceToBook': 13.195315,
 'heldPercentInsiders': 0.014249999,
 'nextFiscalYearEnd': 1656547200,
 'mostRecentQuarter': 1593475200,
 'shortRatio': 1.09,
 'sharesShortPreviousMonthDate': 1597363200,
 'floatShares': 7455727348,
 'enterpriseValue': 1537322385408,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1597795200,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': -0.151,
 'dateShortInterest': 1600128000,
 'pegRatio': 2.16,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0050999997,
 'sharesShortPriorMonth': 29634174,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 208,
 'logo_url': 'https://logo.clearbit.com/microsoft.com'}

In [9]:
msft.history(period="max")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.06,0.06,0.06,0.06,1031788800,0.0,0.0
1986-03-14,0.06,0.07,0.06,0.06,308160000,0.0,0.0
1986-03-17,0.06,0.07,0.06,0.07,133171200,0.0,0.0
1986-03-18,0.07,0.07,0.06,0.06,67766400,0.0,0.0
1986-03-19,0.06,0.06,0.06,0.06,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2020-09-28,210.88,212.57,208.06,209.44,32004900,0.0,0.0
2020-09-29,209.35,210.07,206.81,207.26,24221900,0.0,0.0
2020-09-30,207.73,211.98,206.54,210.33,33780700,0.0,0.0
2020-10-01,213.49,213.99,211.32,212.46,27158400,0.0,0.0
2020-10-02,208.00,210.99,205.54,206.19,33114400,0.0,0.0

In [11]:
msft.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2019-08-14       0.46           0.0
2019-11-20       0.51           0.0
2020-02-19       0.51           0.0
2020-05-20       0.51           0.0
2020-08-19       0.51           0.0

[76 rows x 2 columns]

In [13]:
msft.dividends

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2019-08-14    0.46
2019-11-20    0.51
2020-02-19    0.51
2020-05-20    0.51
2020-08-19    0.51
Name: Dividends, Length: 67, dtype: float64

In [15]:
msft.splits

Date
1987-09-21    2.0
1990-04-16    2.0
1991-06-27    1.5
1992-06-15    1.5
1994-05-23    2.0
1996-12-09    2.0
1998-02-23    2.0
1999-03-29    2.0
2003-02-18    2.0
Name: Stock Splits, dtype: float64

# mass data download

In [17]:
import yfinance as yf
data = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  2 of 2 completed

In [19]:
print(data)

            Adj Close                  Close                   High  \
                 AAPL         SPY       AAPL         SPY       AAPL
Date
2017-01-03  27.548414  209.785889  29.037500  225.240005  29.082500
2017-01-04  27.517582  211.033981  29.004999  226.580002  29.127501
2017-01-05  27.657520  210.866318  29.152500  226.399994  29.215000
2017-01-06  27.965857  211.620728  29.477501  227.210007  29.540001
2017-01-09  28.222006  210.922211  29.747499  226.460007  29.857500
...               ...         ...        ...         ...        ...
2017-04-24  34.216194  221.858353  35.910000  237.169998  35.987499
2017-04-25  34.428196  223.149246  36.132500  238.550003  36.224998
2017-04-26  34.225719  223.008942  35.919998  238.399994  36.150002
2017-04-27  34.251919  223.196014  35.947498  238.600006  36.040001
2017-04-28  34.218575  222.709595  35.912498  238.080002  36.075001

                              Low                   Open              \
                   SPY       AAPL         SPY       AAPL         SPY
Date
2017-01-03  225.830002  28.690001  223.880005  28.950001  225.039993
2017-01-04  226.750000  28.937500  225.610001  28.962500  225.619995
2017-01-05  226.580002  28.952499  225.479996  28.980000  226.270004
2017-01-06  227.750000  29.117500  225.899994  29.195000  226.529999
2017-01-09  227.070007  29.485001  226.419998  29.487499  226.910004
...                ...        ...         ...        ...         ...
2017-04-24  237.410004  35.794998  234.559998  35.875000  237.179993
2017-04-25  238.949997  35.967499  237.809998  35.977501  237.910004
2017-04-26  239.529999  35.845001  238.350006  36.117500  238.509995
2017-04-27  238.949997  35.827499  237.979996  35.980000  238.770004
2017-04-28  238.929993  35.817501  237.929993  36.022499  238.899994

               Volume
                 AAPL        SPY
Date
2017-01-03  115127600   91366500
2017-01-04   84472400   78744400
2017-01-05   88774400   78379000
2017-01-06  127007600   71559900
2017-01-09  134247600   46939700
...               ...        ...
2017-04-24   68537200  119209900
2017-04-25   75486000   76698300
2017-04-26   80164800   84702500
2017-04-27   56985200   57410300
2017-04-28   83441600   63532800

[81 rows x 12 columns]

In [25]:
####### SUMMARY


from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

# download dataframe using pandas_datareader
data = pdr.get_data_yahoo("SPY", start="2017-01-01", end="2017-04-30")

ModuleNotFoundError: No module named 'pandas_datareader'

# extracting fundamentals from yfin.

In [36]:
from datetime import datetime
import lxml
from lxml import html
import requests
import numpy as np
import pandas as pd

In [43]:
#############################
#Scrape some balance sheet data
#############################
symbol = 'mft.nz'

url = 'https://finance.yahoo.com/quote/' + symbol + '/balance-sheet?p=' + symbol

# Set up the request headers that we're going to use, to simulate
# a request by the Chrome browser. Simulating a request from a browser
# is generally good practice when building a scraper
headers = {
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
    'Cache-Control': 'max-age=0',
    'Pragma': 'no-cache',
    'Referrer': 'https://google.com',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36'
}

# Fetch the page that we're going to parse, using the request headers
# defined above
page = requests.get(url, headers)

# Parse the page with LXML, so that we can start doing some XPATH queries
# to extract the data that we want
tree = html.fromstring(page.content)

# Smoke test that we fetched the page by fetching and displaying the H1 element
tree.xpath("//h1/text()")

['Mainfreight Limited (MFT.NZ)']

In [44]:
#############################
#Reading the financial data
#############################

table_rows = tree.xpath("//div[contains(@class, 'D(tbr)')]")

# Ensure that some table rows are found; if none are found, then it's possible
# that Yahoo Finance has changed their page layout, or have detected
# that you're scraping the page.
assert len(table_rows) > 0

parsed_rows = []

for table_row in table_rows:
    parsed_row = []
    el = table_row.xpath("./div")
    
    none_count = 0
    
    for rs in el:
        try:
            (text,) = rs.xpath('.//span/text()[1]')
            parsed_row.append(text)
        except ValueError:
            parsed_row.append(np.NaN)
            none_count += 1

    if (none_count < 4):
        parsed_rows.append(parsed_row)

df = pd.DataFrame(parsed_rows)
df

,0,1,2,3,4
0,Breakdown,3/31/2020,3/31/2019,3/31/2018,3/31/2017
1,Total Assets,"2,304,594","1,502,889","1,376,402","1,284,765"
2,Total Liabilities Net Minority Interest,"1,338,255","664,574","663,999","639,163"
3,Total Equity Gross Minority Interest,"966,339","838,315","712,403","645,602"
4,Total Capitalization,"1,234,037","1,076,968","983,156","928,631"
5,Common Stock Equity,"966,339","838,315","712,403","645,602"
6,Capital Lease Obligations,"632,676","7,004","6,584","4,274"
7,Net Tangible Assets,"681,653","568,353","438,083","380,435"
8,Working Capital,"57,845","161,189","148,382","114,055"
9,Invested Capital,"1,234,043","1,076,972","983,192","929,578"
10,Tangible Book Value,"681,653","568,353","438,083","380,435"
11,Total Debt,"900,380","245,661","277,373","288,250"
12,Net Debt,"151,564","123,473","190,268","208,664"
13,Share Issued,"100,699","100,699","100,699","100,699"
14,Ordinary Shares Number,"100,699","100,699","100,699","100,699"

In [45]:
########################
#DATA CLEANING
########################
df = pd.DataFrame(parsed_rows)
df = df.set_index(0) # Set the index to the first column: 'Period Ending'.
df = df.transpose() # Transpose the DataFrame, so that our header contains the account names

# Rename the "Breakdown" column to "Date"
cols = list(df.columns)
cols[0] = 'Date'
df = df.set_axis(cols, axis='columns', inplace=False)

df

,Date,Total Assets,Total Liabilities Net Minority Interest,Total Equity Gross Minority Interest,Total Capitalization,Common Stock Equity,Capital Lease Obligations,Net Tangible Assets,Working Capital,Invested Capital,Tangible Book Value,Total Debt,Net Debt,Share Issued,Ordinary Shares Number
1,3/31/2020,"2,304,594","1,338,255","966,339","1,234,037","966,339","632,676","681,653","57,845","1,234,043","681,653","900,380","151,564","100,699","100,699"
2,3/31/2019,"1,502,889","664,574","838,315","1,076,968","838,315","7,004","568,353","161,189","1,076,972","568,353","245,661","123,473","100,699","100,699"
3,3/31/2018,"1,376,402","663,999","712,403","983,156","712,403","6,584","438,083","148,382","983,192","438,083","277,373","190,268","100,699","100,699"
4,3/31/2017,"1,284,765","639,163","645,602","928,631","645,602","4,274","380,435","114,055","929,578","380,435","288,250","208,664","100,699","100,699"